/*
    Style sheet for website display on the screen that is lower than
    or equal to 720px (for Smartphone).
*/

body {
    background-color: rgba(255,255,255,.4);

}

    /*
        Flex container for Rent section.
    */
    .RentContainer {
        display: inline-block;
        width: 1280px;
        margin-left: 15px;
    }
    
    /*
        Land for rent big banner background and text.
    */
    .RentItem1 {
        width: 100%;
        height: auto;
        /* background-color: rgba(154, 255, 176, 0.8); */
        padding-right: 50px;
        /* border-right: 5px solid rgb(0, 214, 46); */
        margin-right: 0;
    }

    .RentItem1 h1 {
        margin: 5px;
        padding: 5px;
        font-family: 'Consolas', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 7em;
        color: white;
        background-color: #934337;
        text-align: center;  
    }

    /*
        Detail land specification.
    */
    .RentItem2 {
        align-self: center;
        height: auto;
    
        font-size: 1.1em;
        line-height: 150%;
        color: black;
        padding-left: 40px;
        margin-left: 15px;

        background-color: rgba(154, 255, 176, 0.5);
    }

    .RentItem2 ul li {
        list-style-type: disclosure-closed;
        list-style-position: outside;
    }

    .LandSpec {
        padding: 20px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 5em;
        line-height: 150%;
        color: black;
    }

    /*
        Hide banner of information.
    */

    .InformClickPhoto {
        display: none;
    }

    /*
        Flex container gallery setting.
    */
    .GalleryContainer {
        display: flex;
        flex-direction: column;
        
        width: 1260px;
        height: auto;
    
        transform: translateX(3%);
        margin-top: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /*
        Setting to all text in all flexbox.
    */
    .GalleryContainer p {
        text-align: center;
        font-size: 5em;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        
        margin-top: 2px;
        padding: 5px;
        padding-bottom: 100px;
    }

    /*
        Setting for specific image item.
    */
    .ImgInFlex {
        object-fit: cover;
        width: 1260px;
        height: 700px;

        border: 5px solid white;
        border-radius: 10px;

    } 

    /*
        Appearance of Contact flex container.
    */
    .ContactContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        /* align-items: center; */
    
        width: 1260px;
        transform: translateX(3%);
    }

    /*
        Appearance of all contact flex items.
    */
    .ContactAllFlexItem {
        background-color: rgba(154, 255, 176, 0.5);
        padding-top: 30px;
    }

    .ContactFlexItem2 {
        /* width: 30%; */
        display: none;
    }

    .ContactFlexItem1 p {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 6em;
        color: rgb(10, 77, 2);
        text-decoration: underline;
        padding: 5px;
        padding-left: 20px;
        padding-bottom: 10px;
    }

    /* Detail contact information. */
    .ContactFlexItem3 {
        /* width: 35%; */

        padding-top: 0;
        padding-bottom: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 4em;
        line-height: 120px;
        padding-left: 40px;
    }

     /* Telegram and WhatsApp logo near the phone number. */
     .ContactFlexItem3 img {
        width: 64x;
        height: 64px;
    }


    .ContactFlexItem5, .ContactFlexItem6 {
        text-align: center;
    }

    /* Button Share section, hide. */
    .ContactFlexItem4 a {
        display: none;
    }

    /* Telegram and WhatsApp QR Code. */
    .ContactFlexItem5 img, .ContactFlexItem6 img {
        width: 800px;
        height: auto;
        border: 8px solid rgb(41,167,26);
    }