/*
    Style sheet for website display on the screen that is larger than 721 px
    and less than 1080px (for Computer with 4:3 inch monitor or tablet).
*/

/*
	Style of flex container for the header image.
*/
.BannerContainer {
	/* 
		Make the div display flex in order to arrange photo into the middle of 
		the page.
	*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	/*
		Set border of area image area.
	*/
	height: 500px;
	width: 73%;
	overflow: visible; /* Hide the content of image under an image area. */
	margin-bottom: 0;
	padding-bottom: 0;
	transform: translateY(-25%); /* Move the photo up 25% to make it looks good. */
	
}

.BannerContainer img {
	box-shadow: 8px 8px 12px rgba(0,0,0,.7);
}


.RentContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;

	margin-top: 0;
	padding-top: 0;
	margin-bottom: 20px;
	transform: translateX(-0.6%);
}

/*
	All flexbox item within Rent container.
*/
.RentContainerAllFlexBox {
	margin-left: 5px;
	margin-right: 5px;
	padding: 0;
}

/*
	Land for rent big banner background and text.
*/
.RentItem1 {
	width: 20%;
	height: auto;
	margin-right: 0;
}

.RentItem1 h1 {
	margin: 5px;
	padding: 5px;
	padding-bottom: 35px;
	font-family: 'Consolas', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 3.8em;
	color: white;
	background-color: #934337;
	text-align: center;
	line-height: 150%;
}

/*
	Detail land specification.
*/
.RentItem2 {
	align-self: center;
	height: auto;
	font-size: 1.1em;
	line-height: 150%;
	color: black;
	padding-left: 40px;
	margin-left: 0;
	background-color: rgba(154, 255, 176, 0.5);
}

.RentItem2 ul li {
	list-style-image: url("../images/checkBox.gif");
}

.LandSpec {
	padding: 10px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 1.1em;
	line-height: 150%;
	color: black;
}

/*
	Style for banner of information, inform user to click on image.
*/
.InformClickPhoto p {
	width: 90%;
	transform: translateX(5%);
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
	font-size: 1.2em;
	color: black;
	background-color: rgba(255,255,0, .2);
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
	border: 5px solid rgba(179, 80, 0, 0.9);
	border-radius: 10px;
}

/*
	Appearance of image when mouse move over.
*/
.GalleryContainer img:hover {
	border-color: rgba(179, 80, 0, 0.9);
	box-shadow: 4px 4px 12px gray;
}

/*
	Style of exclaimation image.
*/
.InformClickPhoto img {
	width: 32px;
	height: 32px;
}

/*
	Setup animation to hide information of clicking to preview image.
*/
@keyframes InformUserToClickImage {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.InformClickPhoto {
	/*
		Animation shorthand, use to fade out information box
		and won't show on again.
	*/
	animation: InformUserToClickImage 60s ease-in-out forwards;
}

/*
	Flex container gallery setting.
*/
.GalleryContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;

	width: 75%;

	transform: translateX(15%);
	padding-top: 50px;
	padding-bottom: 40px;
	background-color: rgba(0, 0, 0, 0.2);
	
}

/*
	Setting to all text in all flexbox.
*/
.GalleryContainer p {
	text-align: center;
	font-size: 1.1em;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	color: black;
	background-color: white;
	margin-bottom: 20px;
	margin-top: 2px;
	padding: 5px;
}

/*
	Setting for specific image item.
*/
.ImgInFlex {
	object-fit: cover;
	width: 720px;
	height: 480px;
	cursor: pointer;

	border: 5px solid white;
	border-radius: 10px;

} 

.footer p {
	background-color: orange;
	width: auto;
	height: 50px;
}

/*
	Appearance of the background outside image after we click on image.
*/
#lightbox {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .8);
	/* Hide this box until the user click on an image. */
	display: none;
}

/*
	Show lightbox and its arranged location when user click on any image.
*/
#lightbox.active {
	display: flex;
	justify-content: center;
	align-items: center;

}

/*
	Appearance of an image when when show in lightbox after user click on 
	any image.
*/
#lightbox img {
	max-width: 90%;
	max-height: 80%;
	padding: 4px;
	background-color: black;
	border: 2px solid white;
}

/*
	Appearance of Contact flex container.
*/
.ContactContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	/* width: 98%; */
	transform: translateX(1%);
}

/*
	Appearance of all contact flex items.
*/
.ContactAllFlexItem {
	background-color: rgba(154, 255, 176, 0.5);
	padding-top: 30px;
}

/*
	Appearance of each contact flex item.
*/
.ContactFlexItem1 {
	/* width: 75%; */
}

.ContactFlexItem1 p  {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 2em;
	color: rgb(41,167,26);
	padding-top: 70px;
	padding-left: 231px;
	padding-bottom: 72px;

}

.ContactFlexItem2 {
	/* width: 30%; */
	display: none;
	
}

.ContactFlexItem3 p {
	/* display: none; */
	/* width: 30%; */
	padding-top: 0;
	padding-bottom: 20px;
	padding-right: 180px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.2em;
	line-height: 40px;
	padding-left: 20px;
	border-left: 3px solid rgb(41,167,26);
	margin-left: 7px;
}

/* Telegram and WhatsApp logo size near the phone number. */
.ContactFlexItem3 img {
	width: 23px;
	height: 23px;
}

.ContactFlexItem4 {
	/* width: auto; */
	display: none;
}

.ContactFlexItem4 a {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	background-color: orange;
	
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 30px;

}

.ContactFlexItem4 a:hover {
	color: black;
	background-color: rgba(255,165,0,.6);
	cursor: pointer;
	border-color: orange;

}

/* Print button. */
.ShortLink {
	padding-left: 50px;
	padding-right: 50px;
}

/* Copy link button. */
.LongLink {
	padding-left: 50px;
	padding-right: 50px;
}

/* Telegram and WhatsApp QR Code. */
.ContactFlexItem5 img, .ContactFlexItem6 img {
	width: 240px;
	height: auto;
	border: 3px solid rgb(41,167,26);
	/* cursor: pointer; */
}

/* Telegram and WhatsApp QR Code. */
.ContactFlexItem5, .ContactFlexItem6 {
	/* they can grow (flex-grow: 1), won’t shrink (flex-shrink: 0), 
	and have an initial width of 50% (flex-basis: 50%). */
	flex: 1 0 calc(50% - 4px);
	box-sizing: border-box;
	text-align: center;
	padding-bottom: 20px
}

.blankArea {
	height: 10px;
	width: 30px;
	background-color: white;
}